### Q1. What is a database? Differentiate between SQL and NoSQL databases.

- A database is a collection of data which contains tables, views, keys, etc.
- Databases are used everywhere to store data.
- There are several query languages which have been developed to store, organize and analyze data.
- The two main query languages are - SQL, MySQL
- SQL stands for Structured Query Language while NoSQL stands for Not Only SQL.
- SQL stores structured data while NoSQL can store unstructured data as well.
- In SQL data are stored in tabular format while in NoSQL it is stored in json or document format.
- For SQL there are editors are MySQL, PostgreSQL, etc. and for NoSQL there is MongoDB and more.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

- DDL stands for Data Definition Language.
- It is a term in SQL.
- It is used for defining, editing and managing the data.
- 'CREATE' is used to create databases, tables, indexes and views.
- 'DROP' is used to delete databases, tables, views, etc. Once something is dropped, it cannot be undone.
- 'ALTER' is used to modify the structure of tables, etc.
- 'TRUNCATE' is used to delete the entries made in a table. It does not delete the table structure. Only the data/rows.

In [ ]:
# CREATE

CREATE TABLE employee (
    empID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Age INT
);

In [ ]:
# DROP

DROP TABLE employee;

In [ ]:
# ALTER

ALTER TABLE employee ADD emailID varchar(50);

In [ ]:
# TRUNCATE

TRUNCATE TABLE employee

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

- DML stands for Data Manipulation Language.
- It is also a term in SQL.
- It is used to manipulate data in a database.
- 'INSERT' used to enter new row of data in a database.
- 'UPDATE' is used to update/modify specific data in the table.
- 'DELETE' is used to delete one or more rows from the table.

In [ ]:
# INSERT

INSERT INTO employee VALUES (1023,"Sudh","Kumar",28);

In [ ]:
# UPDATE

UPDATE employee SET age = 25 WHERE empID = 1023;

In [ ]:
# DELETE

DELETE FROM employee WHERE empID = 1023

### Q4. What is DQL? Explain SELECT with an example.

- DQL stands for Data Query Language.
- It is also a term in SQL.
- It is used to retrieve data from database.
- The primary command used in DQL is 'SELECT'

In [ ]:
SELECT * FROM employee WHERE age>20;

# it will show the rows where given condition is met.

### Q5. Explain Primary Key and Foreign Key.

- Primary Key and Foreign Key are concepts of RDBMS (Relational Database Management System).
- They are used to establish relationships between tables in a database.
- Primary key is a column in a database which contains:
    - unique values
    - non null values
    - stable (cannot change over time)
- Foreign key is a column in another table which refers to the primary key of another table. Some of its features are:
    - referential integrity
    - relationships

In [ ]:
# Primary key example

CREATE TABLE student
(
    s_id INT PRIMARY KEY,
    s_name VARCHAR(30),
    age INT
);

In [ ]:
# Foreign key example

CREATE TABLE school
(
    roll_no INT,
    mother_name VARCHAR(30),
    father_name VARCHAR(30),
    student_id INT,
    FOREIGN KEY (student_id) REFERENCES student(s_id)
);

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [1]:
import mysql.connector

mydb = mysql.connector.connect(host = "localhost", user = "root", password = "password")

mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('bsc',)
('bscds',)
('classicmodels',)
('datascience',)
('information_schema',)
('keysdb',)
('march6',)
('mysql',)
('newdb',)
('northwind',)
('performance_schema',)
('question_bank',)
('student',)
('sys',)
('test1',)
('test2',)
('theatre',)
('wwe',)

- The cursor() method is like a pointer of where we are. It helps us to use more methods like execute.
- The execute() method allows us to pass MySQL commands through python. It is a method used with cursor.

### Q7. Give the order of execution of SQL clauses in an SQL query.

1. FROM: It specifies from which table we want to retrieve the data from
2. JOIN: combines tables based on conditions
3. WHERE: used to only show the rows which meet the condition specified
4. GROUP BY: groups the rows of a column based on same names followed by a column where an aggregate function is used
5. HAVING: applies a filter to the grouped result set after the GROUP BY operation. Similar to the WHERE clause but used with aggregated data.
6. SELECT: specifies which columns we want to display
7. DISTINCT: only shows unique values
8. ORDER BY: sorts a column in ascending or descending order.