Q1. Create one variable containing following type of data:

(i)	string

(ii) list

(iii) float

(iv) tuple

In [2]:
a = 'hello'
a = [1,2,False,12.34,"box"]
a = 12.3
a = (-1,34,1)

In [1]:
# one variable of list dtype containing above mentioned types of data
a = ["rat",[1,2,3,"hi"],95.1,(1,2,"PW")]

Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable.

In [3]:
var1 = ''
type(var1)

str

In [4]:
var2 = '[DS,ML,Python]'
type(var2)

str

In [5]:
var3 = ['DS','ML','Python']
type(var3)

list

In [6]:
var4 = 1.
type(var4)

float

Q3. Explain the use of the following operators using an example:

(i)	    /

(ii)	% 

(iii)	//

(iv)	**

In [8]:
# 1. The division operator ('/') is used divide two numbers. It returns the quotient in float datatype.

print(10/2)
print(1/2)

5.0
0.5

In [10]:
# 2. The modulus operator ('%') is used to divide two numbers and get their remainder.

print(10%2) # remainder is 0
print(10%4) # remainder will be 2

0
2

In [13]:
# 3. The floor division operator ('//') double slash is used to divide two numbers and the result is only the floor value of the
#    the quotient. For e.g if quotient is 2.5, the result will take only 2 and return it as an integer.

print(1//2)
print(10//4)

0
2

In [14]:
# 4. The exponential operator ('**') raised to is used to evaluate x raised to the power of y.

print(2**3)   # 2*2*2

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.

In [16]:
mylist = [1,2,3,4,"PW Skills",98.2,True,4+5j]
for i in mylist:
    print("Data:",i,"\nDatatype: ",type(i),"\n\n")

Data: 1
Datatype:  <class 'int'>


Data: 2
Datatype:  <class 'int'>


Data: 3
Datatype:  <class 'int'>


Data: 4
Datatype:  <class 'int'>


Data: PW Skills
Datatype:  <class 'str'>


Data: 98.2
Datatype:  <class 'float'>


Data: True
Datatype:  <class 'bool'>


Data: (4+5j)
Datatype:  <class 'complex'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

In [4]:
A = 100
B = 25
count=0
og_A = A

while A%B==0:
    count += 1
    A /= B
    
if count > 0:
    print(f"{og_A} is divisible by {B} and can be divided {count} times.")
else:
    print(f"{og_A} is not divisible by {B}.")

100 is divisible by 25 and can be divided 1 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not

In [5]:
mylist2 = [10,20,13,1,4,134,12,19,21,23,98,90,345,37,14,56,234,34,87,39,54,55,22,33,11]

for i in mylist2:
    if i%3==0:
        print(f"{i} is divisible by 3")

12 is divisible by 3
21 is divisible by 3
90 is divisible by 3
345 is divisible by 3
234 is divisible by 3
87 is divisible by 3
39 is divisible by 3
54 is divisible by 3
33 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.

In [6]:
# A mutable data type is a datatype in which we can make changes to the actual data in the memory. For ex. List
l = [1,2,3,"hello"]
l[3] = 4
print(l)

[1, 2, 3, 4]

In [7]:
# An immutable datatype is a datatype which cannot be changed. For ex. String
s = "hallo world"
s[1] = "e"

TypeError: 'str' object does not support item assignment