### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

- MongoDB is a NoSQL database system.
- It is unstructured.
- Data is stored in JSON format.
- Non-relational databases are those databases which do not have any relation between them, like in SQL where there is the concept of primary keys and foreign keys which define the relationship between tables.
- MongoDB should be used when we don't have a fixed structure of data that we have to store.
- Otherwise when there are fixed columns and structure of data, SQL is preferred.

### Q2. State and Explain the features of MongoDB.

- MongoDB is document-oriented. It stores data in JSON format.
- MongoDB allows us to change the structure of documents as per our need unlike traditional SQL database systems.
- MongoDB is a NoSQL database system which means it can store unstructured, semi-structured and structured data in an efficient manner unlike traditional SQL database systems.
- MongoDB is a high-performance database system.

### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [4]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://ratansharma1901:password@cluster0.yn3sibk.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [5]:
db

Database(MongoClient(host=['ac-jasmi1f-shard-00-00.yn3sibk.mongodb.net:27017', 'ac-jasmi1f-shard-00-02.yn3sibk.mongodb.net:27017', 'ac-jasmi1f-shard-00-01.yn3sibk.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-vshwe7-shard-0', ssl=True), 'test')

In [3]:
# we are connected to our mongodb

In [4]:
client = pymongo.MongoClient("mongodb+srv://ratansharma1901:password@cluster0.yn3sibk.mongodb.net/?retryWrites=true&w=majority")

In [5]:
# creating a database

db = client['pwskills2']

In [6]:
# creating a collection (table)

new_collection = db['students']

In [7]:
data1 = {
    "rollno": 1,
    "name": "John",
    "hobby": "Dancing"
}

In [8]:
# inserting data in the collection

new_collection.insert_one(data1)

In [9]:
# after inserting data, the database and collection is reflected on the mongoDB website.

### Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [10]:
# inserting one record

data2 = {
    "rollno":2,
    "name": "Anderson",
    "hobby": "Singing",
    "age": 14
}

new_collection.insert_one(data2)

In [12]:
# inserting many records

data3 = [
    {"rollno": 3, "name": "Ella", "age": 12},
    {"rollno": 4, "name": "Matthew", "hobby": "Playing games", "age": 15}
]

new_collection.insert_many(data3)

In [13]:
new_collection.find_one()

{'_id': ObjectId('64d909c493237ac33b3033da'),
 'rollno': 1,
 'name': 'John',
 'hobby': 'Dancing'}

In [15]:
for x in new_collection.find():
    print(x)

{'_id': ObjectId('64d909c493237ac33b3033da'), 'rollno': 1, 'name': 'John', 'hobby': 'Dancing'}
{'_id': ObjectId('64d90aa993237ac33b3033db'), 'rollno': 2, 'name': 'Anderson', 'hobby': 'Singing', 'age': 14}
{'_id': ObjectId('64d90ba493237ac33b3033dc'), 'rollno': 3, 'name': 'Ella', 'age': 12}
{'_id': ObjectId('64d90ba493237ac33b3033dd'), 'rollno': 4, 'name': 'Matthew', 'hobby': 'Playing games', 'age': 15}

### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

- The find() method returns an iterable which contains all the entries inside the collection.
- Hence we use a loop to print all the entries one by one.

In [16]:
for x in new_collection.find():
    print(x)

{'_id': ObjectId('64d909c493237ac33b3033da'), 'rollno': 1, 'name': 'John', 'hobby': 'Dancing'}
{'_id': ObjectId('64d90aa993237ac33b3033db'), 'rollno': 2, 'name': 'Anderson', 'hobby': 'Singing', 'age': 14}
{'_id': ObjectId('64d90ba493237ac33b3033dc'), 'rollno': 3, 'name': 'Ella', 'age': 12}
{'_id': ObjectId('64d90ba493237ac33b3033dd'), 'rollno': 4, 'name': 'Matthew', 'hobby': 'Playing games', 'age': 15}

### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [17]:
# sorting in ascending order

for x in new_collection.find().sort("age"):
    print(x)

{'_id': ObjectId('64d909c493237ac33b3033da'), 'rollno': 1, 'name': 'John', 'hobby': 'Dancing'}
{'_id': ObjectId('64d90ba493237ac33b3033dc'), 'rollno': 3, 'name': 'Ella', 'age': 12}
{'_id': ObjectId('64d90aa993237ac33b3033db'), 'rollno': 2, 'name': 'Anderson', 'hobby': 'Singing', 'age': 14}
{'_id': ObjectId('64d90ba493237ac33b3033dd'), 'rollno': 4, 'name': 'Matthew', 'hobby': 'Playing games', 'age': 15}

In [18]:
# sorting in descending order

for x in new_collection.find().sort("age",-1):
    print(x)

{'_id': ObjectId('64d90ba493237ac33b3033dd'), 'rollno': 4, 'name': 'Matthew', 'hobby': 'Playing games', 'age': 15}
{'_id': ObjectId('64d90aa993237ac33b3033db'), 'rollno': 2, 'name': 'Anderson', 'hobby': 'Singing', 'age': 14}
{'_id': ObjectId('64d90ba493237ac33b3033dc'), 'rollno': 3, 'name': 'Ella', 'age': 12}
{'_id': ObjectId('64d909c493237ac33b3033da'), 'rollno': 1, 'name': 'John', 'hobby': 'Dancing'}

- The sort() method sorts the collection based on a column.
- We pass a column name as an argument.
- By default it sorts it in ascending order. But if we want to sort in descending order, we can also pass another argument as -1.

### Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [19]:
# deleting one document

new_collection.delete_one({"rollno":1})

In [20]:
# checking

for x in new_collection.find():
    print(x)

{'_id': ObjectId('64d90aa993237ac33b3033db'), 'rollno': 2, 'name': 'Anderson', 'hobby': 'Singing', 'age': 14}
{'_id': ObjectId('64d90ba493237ac33b3033dc'), 'rollno': 3, 'name': 'Ella', 'age': 12}
{'_id': ObjectId('64d90ba493237ac33b3033dd'), 'rollno': 4, 'name': 'Matthew', 'hobby': 'Playing games', 'age': 15}

In [21]:
# to delete many documents we need to have a matching data like same hobby. so let us insert one such document

data4 = {
    "rollno": 5,
    "name": "Paul",
    "hobby": "Singing"
}

new_collection.insert_one(data4)

In [22]:
# now lets pass an argument where hobby = singing. it will delete all the documents that meet the condition.

new_collection.delete_many({"hobby": "Singing"})

In [23]:
# checking

for x in new_collection.find():
    print(x)

{'_id': ObjectId('64d90ba493237ac33b3033dc'), 'rollno': 3, 'name': 'Ella', 'age': 12}
{'_id': ObjectId('64d90ba493237ac33b3033dd'), 'rollno': 4, 'name': 'Matthew', 'hobby': 'Playing games', 'age': 15}

In [24]:
# dropping the collection (it will delete this collection)

new_collection.drop()

In [1]:
# Successful: the collection students got dropped which was the only collection in pwskills2 database. hence now it is reflected
#             on the mongodb website. the database is not displaying.

In [6]:
client.close()